@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
.filter {
  width: 25vw;
  padding: 9px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  animation: someAnim 1.5s cubic-bezier(0, 0.2, 0.8, 1);
}
.filter .filter-title {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  margin-left: 15px;
}

.filter-items {
  display: flex;
  flex-direction: column;
  text-transform: none;
}

.filter-item {
  display: flex;
  align-items: center;
  padding: 10px 70px 10px 15px;
}

.filter-item:hover {
  background: #f1fcff;
}

.filter-label {
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}

.filter-all {
  appearance: none;
  -webkit-appearance: none;
}

.filter-all:checked {
  background: url(../assets/Shape.svg) no-repeat center;
  background-size: 12px 8px;
  border: 1px solid #2196f3;
}

.filter-without {
  appearance: none;
  -webkit-appearance: none;
}

.filter-without:checked {
  background: url(../assets/Shape.svg) no-repeat center;
  background-size: 12px 8px;
  border: 1px solid #2196f3;
}

.filter-one {
  appearance: none;
  -webkit-appearance: none;
}

.filter-one:checked {
  background: url(../assets/Shape.svg) no-repeat center;
  background-size: 12px 8px;
  border: 1px solid #2196f3;
}

.filter-two {
  appearance: none;
  -webkit-appearance: none;
}

.filter-two:checked {
  background: url(../assets/Shape.svg) no-repeat center;
  background-size: 12px 8px;
  border: 1px solid #2196f3;
}

.filter-three {
  appearance: none;
  -webkit-appearance: none;
}

.filter-three:checked {
  background: url(../assets/Shape.svg) no-repeat center;
  background-size: 12px 8px;
  border: 1px solid #2196f3;
}

.sort {
  margin-left: 20px;
  display: flex;
  background-color: white;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  animation: someAnim 1s cubic-bezier(0, 0.2, 0.8, 1);
}

.sortByLow,
.sortByFast {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  font-weight: normal;
  padding: 15px;
  border-right: 1px solid #dfe5ec;
  color: #4a4a4a;
  cursor: pointer;
}

.sortByLow:hover,
.sortByFast:hover {
  background: #2196f3;
  color: white;
}

.activeL {
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 5px 0 0 5px;
}

.activeR {
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}

.ticket {
  margin-top: 20px;
  margin-left: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ticket-info {
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
}

.aviaLogo {
  margin-right: 10px;
}

.ticket-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
}

.ticket-deps {
  margin-left: 10px;
}

.ticket-dep span {
  font-size: 12px;
  color: #a0b0b9;
}

.ticket-depTime span {
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
  font-weight: bold;
}

.ticket-dur__title {
  font-size: 12px;
  line-height: 18px;
  color: #a0b0b9;
}

.ticket-dur__time span {
  text-transform: none;
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
  font-weight: bold;
}

.ticket-transf {
  width: 10vw;
}

.ticket-transf__title {
  font-size: 12px;
  line-height: 18px;
  color: #a0b0b9;
}

.ticket-transf__info {
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
  font-weight: bold;
}

.ticket-enter {
  opacity: 0;
}

.ticket-enter-active {
  opacity: 1;
  transition: 300ms ease-in;
}

.ticket-exit {
  opacity: 1;
}

.ticket-exit-active {
  opacity: 0;
  transition: 1000ms ease-out;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes someAnim {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  background-color: #f3f7fa;
  font-family: "Open Sans", Courier, monospace;
  font-style: 600;
  text-transform: uppercase;
}

input[type=checkbox i] {
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 10px 0 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}
.app-wrapper .logo {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.app-inner {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 20px;
}
.app-inner .showMore {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  text-align: center;
  background-color: #2196f3;
  margin-top: 20px;
}

.loader {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2196f3;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.wrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=App.css.map */
