@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import "./filter.scss";
@import "./sort.scss";
@import "./tickets.scss";
@import "./animation.scss";

body {
  background-color: #f3f7fa;
  font-family: "Open Sans", Courier, monospace;
  font-style: 600;
  text-transform: uppercase;
}
input[type="checkbox" i] {
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 10px 0 0;
}
.App {
  max-width: 800px;
  margin: 0 auto;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  .logo {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.app-inner {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 20px;
  .showMore {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    text-align: center;
    background-color: #2196f3;
    margin-top: 20px;
  }
}
.loader {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(33 150 243);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
.wrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
}
